{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "sourceType": "unambiguous",
  "ignore": [
    "node_modules",
    "build",
    "browser_build",
    "dist",
    "configs",
  ]
}