[submodule "external/mymonero-core-js"]
	path = external/mymonero-core-js
	url = https://github.com/woodser/mymonero-core-js
[submodule "external/monero-cpp-library"]
	path = external/monero-cpp-library
	url = https://github.com/woodser/monero-cpp-library.git
