[submodule "src/mymonero_core_js"]
	path = src/mymonero_core_js
	url = https://github.com/mymonero/mymonero-core-js
[submodule "src/monerojs"]
	path = src/monerojs
	url = https://github.com/monerojs/monerojs.git
